DeVes.Bazaar.Client2/Service References/BasarComServiceReference/BasarCom.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BasarCom" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://de6-nb-pe017:1353/DeVes.Bazaar.Integrator/IBasarCom?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://de6-nb-pe017:1353/DeVes.Bazaar.Integrator/IBasarCom?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://de6-nb-pe017:1353/DeVes.Bazaar.Integrator/IBasarCom?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DeVes.Bazaar.Data.DataObjekts" />
      <xsd:import schemaLocation="http://de6-nb-pe017:1353/DeVes.Bazaar.Integrator/IBasarCom?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DeVes.Bazaar.Data.Biz" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBasarCom_CheckAlive_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckAlive" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_CheckAlive_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckAliveResponse" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_GetParameters_InputMessage">
    <wsdl:part name="parameters" element="tns:GetParameters" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_GetParameters_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetParametersResponse" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_MaterialCategoryGet_InputMessage">
    <wsdl:part name="parameters" element="tns:MaterialCategoryGet" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_MaterialCategoryGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:MaterialCategoryGetResponse" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_MaterialCategoryGetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:MaterialCategoryGetAll" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_MaterialCategoryGetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:MaterialCategoryGetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_MaterialCategoryCreate_InputMessage">
    <wsdl:part name="parameters" element="tns:MaterialCategoryCreate" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_MaterialCategoryCreate_OutputMessage">
    <wsdl:part name="parameters" element="tns:MaterialCategoryCreateResponse" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_MaterialCategoryUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:MaterialCategoryUpdate" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_MaterialCategoryUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:MaterialCategoryUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_MaterialCategoryRemove_InputMessage">
    <wsdl:part name="parameters" element="tns:MaterialCategoryRemove" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_MaterialCategoryRemove_OutputMessage">
    <wsdl:part name="parameters" element="tns:MaterialCategoryRemoveResponse" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_ManufacturerGet_InputMessage">
    <wsdl:part name="parameters" element="tns:ManufacturerGet" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_ManufacturerGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:ManufacturerGetResponse" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_ManufacturerGetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:ManufacturerGetAll" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_ManufacturerGetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:ManufacturerGetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_ManufacturerCreate_InputMessage">
    <wsdl:part name="parameters" element="tns:ManufacturerCreate" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_ManufacturerCreate_OutputMessage">
    <wsdl:part name="parameters" element="tns:ManufacturerCreateResponse" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_ManufacturerUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:ManufacturerUpdate" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_ManufacturerUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:ManufacturerUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_ManufacturerRemove_InputMessage">
    <wsdl:part name="parameters" element="tns:ManufacturerRemove" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_ManufacturerRemove_OutputMessage">
    <wsdl:part name="parameters" element="tns:ManufacturerRemoveResponse" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_SupplierGet_ByID_InputMessage">
    <wsdl:part name="parameters" element="tns:SupplierGet_ByID" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_SupplierGet_ByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:SupplierGet_ByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_SupplierGet_ByName_InputMessage">
    <wsdl:part name="parameters" element="tns:SupplierGet_ByName" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_SupplierGet_ByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:SupplierGet_ByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_SupplierGet_No_InputMessage">
    <wsdl:part name="parameters" element="tns:SupplierGet_No" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_SupplierGet_No_OutputMessage">
    <wsdl:part name="parameters" element="tns:SupplierGet_NoResponse" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_SupplierGetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:SupplierGetAll" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_SupplierGetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:SupplierGetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_SupplierCreate_InputMessage">
    <wsdl:part name="parameters" element="tns:SupplierCreate" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_SupplierCreate_OutputMessage">
    <wsdl:part name="parameters" element="tns:SupplierCreateResponse" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_SupplierUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:SupplierUpdate" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_SupplierUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:SupplierUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_SupplierRemove_InputMessage">
    <wsdl:part name="parameters" element="tns:SupplierRemove" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_SupplierRemove_OutputMessage">
    <wsdl:part name="parameters" element="tns:SupplierRemoveResponse" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_SetSupplierToReturned_InputMessage">
    <wsdl:part name="parameters" element="tns:SetSupplierToReturned" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_SetSupplierToReturned_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetSupplierToReturnedResponse" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_PositionCreate_InputMessage">
    <wsdl:part name="parameters" element="tns:PositionCreate" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_PositionCreate_OutputMessage">
    <wsdl:part name="parameters" element="tns:PositionCreateResponse" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_PositionUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:PositionUpdate" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_PositionUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:PositionUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_PositionRemove_InputMessage">
    <wsdl:part name="parameters" element="tns:PositionRemove" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_PositionRemove_OutputMessage">
    <wsdl:part name="parameters" element="tns:PositionRemoveResponse" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_PositionSell_InputMessage">
    <wsdl:part name="parameters" element="tns:PositionSell" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_PositionSell_OutputMessage">
    <wsdl:part name="parameters" element="tns:PositionSellResponse" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_PositionReturn_InputMessage">
    <wsdl:part name="parameters" element="tns:PositionReturn" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_PositionReturn_OutputMessage">
    <wsdl:part name="parameters" element="tns:PositionReturnResponse" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_GetSoldPositions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSoldPositions" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_GetSoldPositions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSoldPositionsResponse" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_GetSoldNotReturnedPositions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSoldNotReturnedPositions" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_GetSoldNotReturnedPositions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSoldNotReturnedPositionsResponse" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_GetNotSoldNotReturnedPositions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNotSoldNotReturnedPositions" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_GetNotSoldNotReturnedPositions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNotSoldNotReturnedPositionsResponse" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_SetPositionsAsReturned_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPositionsAsReturned" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_SetPositionsAsReturned_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPositionsAsReturnedResponse" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_PositionGet_InputMessage">
    <wsdl:part name="parameters" element="tns:PositionGet" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_PositionGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:PositionGetResponse" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_PositionGetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:PositionGetAll" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_PositionGetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:PositionGetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_AllSupplierAndPositions_InputMessage">
    <wsdl:part name="parameters" element="tns:AllSupplierAndPositions" />
  </wsdl:message>
  <wsdl:message name="IBasarCom_AllSupplierAndPositions_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllSupplierAndPositionsResponse" />
  </wsdl:message>
  <wsdl:portType name="IBasarCom">
    <wsdl:operation name="CheckAlive">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasarCom/CheckAlive" message="tns:IBasarCom_CheckAlive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasarCom/CheckAliveResponse" message="tns:IBasarCom_CheckAlive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetParameters">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasarCom/GetParameters" message="tns:IBasarCom_GetParameters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasarCom/GetParametersResponse" message="tns:IBasarCom_GetParameters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MaterialCategoryGet">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasarCom/MaterialCategoryGet" message="tns:IBasarCom_MaterialCategoryGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasarCom/MaterialCategoryGetResponse" message="tns:IBasarCom_MaterialCategoryGet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MaterialCategoryGetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasarCom/MaterialCategoryGetAll" message="tns:IBasarCom_MaterialCategoryGetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasarCom/MaterialCategoryGetAllResponse" message="tns:IBasarCom_MaterialCategoryGetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MaterialCategoryCreate">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasarCom/MaterialCategoryCreate" message="tns:IBasarCom_MaterialCategoryCreate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasarCom/MaterialCategoryCreateResponse" message="tns:IBasarCom_MaterialCategoryCreate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MaterialCategoryUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasarCom/MaterialCategoryUpdate" message="tns:IBasarCom_MaterialCategoryUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasarCom/MaterialCategoryUpdateResponse" message="tns:IBasarCom_MaterialCategoryUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MaterialCategoryRemove">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasarCom/MaterialCategoryRemove" message="tns:IBasarCom_MaterialCategoryRemove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasarCom/MaterialCategoryRemoveResponse" message="tns:IBasarCom_MaterialCategoryRemove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ManufacturerGet">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasarCom/ManufacturerGet" message="tns:IBasarCom_ManufacturerGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasarCom/ManufacturerGetResponse" message="tns:IBasarCom_ManufacturerGet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ManufacturerGetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasarCom/ManufacturerGetAll" message="tns:IBasarCom_ManufacturerGetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasarCom/ManufacturerGetAllResponse" message="tns:IBasarCom_ManufacturerGetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ManufacturerCreate">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasarCom/ManufacturerCreate" message="tns:IBasarCom_ManufacturerCreate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasarCom/ManufacturerCreateResponse" message="tns:IBasarCom_ManufacturerCreate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ManufacturerUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasarCom/ManufacturerUpdate" message="tns:IBasarCom_ManufacturerUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasarCom/ManufacturerUpdateResponse" message="tns:IBasarCom_ManufacturerUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ManufacturerRemove">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasarCom/ManufacturerRemove" message="tns:IBasarCom_ManufacturerRemove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasarCom/ManufacturerRemoveResponse" message="tns:IBasarCom_ManufacturerRemove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SupplierGet_ByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasarCom/SupplierGet_ByID" message="tns:IBasarCom_SupplierGet_ByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasarCom/SupplierGet_ByIDResponse" message="tns:IBasarCom_SupplierGet_ByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SupplierGet_ByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasarCom/SupplierGet_ByName" message="tns:IBasarCom_SupplierGet_ByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasarCom/SupplierGet_ByNameResponse" message="tns:IBasarCom_SupplierGet_ByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SupplierGet_No">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasarCom/SupplierGet_No" message="tns:IBasarCom_SupplierGet_No_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasarCom/SupplierGet_NoResponse" message="tns:IBasarCom_SupplierGet_No_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SupplierGetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasarCom/SupplierGetAll" message="tns:IBasarCom_SupplierGetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasarCom/SupplierGetAllResponse" message="tns:IBasarCom_SupplierGetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SupplierCreate">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasarCom/SupplierCreate" message="tns:IBasarCom_SupplierCreate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasarCom/SupplierCreateResponse" message="tns:IBasarCom_SupplierCreate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SupplierUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasarCom/SupplierUpdate" message="tns:IBasarCom_SupplierUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasarCom/SupplierUpdateResponse" message="tns:IBasarCom_SupplierUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SupplierRemove">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasarCom/SupplierRemove" message="tns:IBasarCom_SupplierRemove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasarCom/SupplierRemoveResponse" message="tns:IBasarCom_SupplierRemove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetSupplierToReturned">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasarCom/SetSupplierToReturned" message="tns:IBasarCom_SetSupplierToReturned_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasarCom/SetSupplierToReturnedResponse" message="tns:IBasarCom_SetSupplierToReturned_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PositionCreate">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasarCom/PositionCreate" message="tns:IBasarCom_PositionCreate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasarCom/PositionCreateResponse" message="tns:IBasarCom_PositionCreate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PositionUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasarCom/PositionUpdate" message="tns:IBasarCom_PositionUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasarCom/PositionUpdateResponse" message="tns:IBasarCom_PositionUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PositionRemove">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasarCom/PositionRemove" message="tns:IBasarCom_PositionRemove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasarCom/PositionRemoveResponse" message="tns:IBasarCom_PositionRemove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PositionSell">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasarCom/PositionSell" message="tns:IBasarCom_PositionSell_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasarCom/PositionSellResponse" message="tns:IBasarCom_PositionSell_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PositionReturn">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasarCom/PositionReturn" message="tns:IBasarCom_PositionReturn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasarCom/PositionReturnResponse" message="tns:IBasarCom_PositionReturn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSoldPositions">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasarCom/GetSoldPositions" message="tns:IBasarCom_GetSoldPositions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasarCom/GetSoldPositionsResponse" message="tns:IBasarCom_GetSoldPositions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSoldNotReturnedPositions">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasarCom/GetSoldNotReturnedPositions" message="tns:IBasarCom_GetSoldNotReturnedPositions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasarCom/GetSoldNotReturnedPositionsResponse" message="tns:IBasarCom_GetSoldNotReturnedPositions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNotSoldNotReturnedPositions">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasarCom/GetNotSoldNotReturnedPositions" message="tns:IBasarCom_GetNotSoldNotReturnedPositions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasarCom/GetNotSoldNotReturnedPositionsResponse" message="tns:IBasarCom_GetNotSoldNotReturnedPositions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetPositionsAsReturned">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasarCom/SetPositionsAsReturned" message="tns:IBasarCom_SetPositionsAsReturned_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasarCom/SetPositionsAsReturnedResponse" message="tns:IBasarCom_SetPositionsAsReturned_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PositionGet">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasarCom/PositionGet" message="tns:IBasarCom_PositionGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasarCom/PositionGetResponse" message="tns:IBasarCom_PositionGet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PositionGetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasarCom/PositionGetAll" message="tns:IBasarCom_PositionGetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasarCom/PositionGetAllResponse" message="tns:IBasarCom_PositionGetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllSupplierAndPositions">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasarCom/AllSupplierAndPositions" message="tns:IBasarCom_AllSupplierAndPositions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasarCom/AllSupplierAndPositionsResponse" message="tns:IBasarCom_AllSupplierAndPositions_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBasarCom" type="tns:IBasarCom">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckAlive">
      <soap:operation soapAction="http://tempuri.org/IBasarCom/CheckAlive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParameters">
      <soap:operation soapAction="http://tempuri.org/IBasarCom/GetParameters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MaterialCategoryGet">
      <soap:operation soapAction="http://tempuri.org/IBasarCom/MaterialCategoryGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MaterialCategoryGetAll">
      <soap:operation soapAction="http://tempuri.org/IBasarCom/MaterialCategoryGetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MaterialCategoryCreate">
      <soap:operation soapAction="http://tempuri.org/IBasarCom/MaterialCategoryCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MaterialCategoryUpdate">
      <soap:operation soapAction="http://tempuri.org/IBasarCom/MaterialCategoryUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MaterialCategoryRemove">
      <soap:operation soapAction="http://tempuri.org/IBasarCom/MaterialCategoryRemove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ManufacturerGet">
      <soap:operation soapAction="http://tempuri.org/IBasarCom/ManufacturerGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ManufacturerGetAll">
      <soap:operation soapAction="http://tempuri.org/IBasarCom/ManufacturerGetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ManufacturerCreate">
      <soap:operation soapAction="http://tempuri.org/IBasarCom/ManufacturerCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ManufacturerUpdate">
      <soap:operation soapAction="http://tempuri.org/IBasarCom/ManufacturerUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ManufacturerRemove">
      <soap:operation soapAction="http://tempuri.org/IBasarCom/ManufacturerRemove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SupplierGet_ByID">
      <soap:operation soapAction="http://tempuri.org/IBasarCom/SupplierGet_ByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SupplierGet_ByName">
      <soap:operation soapAction="http://tempuri.org/IBasarCom/SupplierGet_ByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SupplierGet_No">
      <soap:operation soapAction="http://tempuri.org/IBasarCom/SupplierGet_No" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SupplierGetAll">
      <soap:operation soapAction="http://tempuri.org/IBasarCom/SupplierGetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SupplierCreate">
      <soap:operation soapAction="http://tempuri.org/IBasarCom/SupplierCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SupplierUpdate">
      <soap:operation soapAction="http://tempuri.org/IBasarCom/SupplierUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SupplierRemove">
      <soap:operation soapAction="http://tempuri.org/IBasarCom/SupplierRemove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSupplierToReturned">
      <soap:operation soapAction="http://tempuri.org/IBasarCom/SetSupplierToReturned" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PositionCreate">
      <soap:operation soapAction="http://tempuri.org/IBasarCom/PositionCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PositionUpdate">
      <soap:operation soapAction="http://tempuri.org/IBasarCom/PositionUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PositionRemove">
      <soap:operation soapAction="http://tempuri.org/IBasarCom/PositionRemove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PositionSell">
      <soap:operation soapAction="http://tempuri.org/IBasarCom/PositionSell" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PositionReturn">
      <soap:operation soapAction="http://tempuri.org/IBasarCom/PositionReturn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSoldPositions">
      <soap:operation soapAction="http://tempuri.org/IBasarCom/GetSoldPositions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSoldNotReturnedPositions">
      <soap:operation soapAction="http://tempuri.org/IBasarCom/GetSoldNotReturnedPositions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNotSoldNotReturnedPositions">
      <soap:operation soapAction="http://tempuri.org/IBasarCom/GetNotSoldNotReturnedPositions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPositionsAsReturned">
      <soap:operation soapAction="http://tempuri.org/IBasarCom/SetPositionsAsReturned" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PositionGet">
      <soap:operation soapAction="http://tempuri.org/IBasarCom/PositionGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PositionGetAll">
      <soap:operation soapAction="http://tempuri.org/IBasarCom/PositionGetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllSupplierAndPositions">
      <soap:operation soapAction="http://tempuri.org/IBasarCom/AllSupplierAndPositions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BasarCom">
    <wsdl:port name="BasicHttpBinding_IBasarCom" binding="tns:BasicHttpBinding_IBasarCom">
      <soap:address location="http://de6-nb-pe017:1353/DeVes.Bazaar.Integrator/IBasarCom" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>