DeVes.Bazaar.Client2/Service References/BasarComServiceReference/IBasarCom3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://de6-nb-pe017:1353/DeVes.Bazaar.Integrator/IBasarCom?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DeVes.Bazaar.Data.DataObjekts" />
  <xs:import schemaLocation="http://de6-nb-pe017:1353/DeVes.Bazaar.Integrator/IBasarCom?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://de6-nb-pe017:1353/DeVes.Bazaar.Integrator/IBasarCom?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DeVes.Bazaar.Data.Biz" />
  <xs:element name="CheckAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckAliveResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParameters">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParametersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DeVes.Bazaar.Data.DataObjekts" minOccurs="0" name="GetParametersResult" nillable="true" type="q1:ParameterResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MaterialCategoryGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MaterialCategoryGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DeVes.Bazaar.Data.Biz" minOccurs="0" name="MaterialCategoryGetResult" nillable="true" type="q3:BizMaterialCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MaterialCategoryGetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MaterialCategoryGetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DeVes.Bazaar.Data.Biz" minOccurs="0" name="MaterialCategoryGetAllResult" nillable="true" type="q4:ArrayOfBizMaterialCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MaterialCategoryCreate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DeVes.Bazaar.Data.Biz" minOccurs="0" name="materialCategory" nillable="true" type="q5:BizMaterialCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MaterialCategoryCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MaterialCategoryCreateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MaterialCategoryUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DeVes.Bazaar.Data.Biz" minOccurs="0" name="materialCategory" nillable="true" type="q6:BizMaterialCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MaterialCategoryUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MaterialCategoryUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MaterialCategoryRemove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="matlCatId" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MaterialCategoryRemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MaterialCategoryRemoveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManufacturerGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q8:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManufacturerGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DeVes.Bazaar.Data.Biz" minOccurs="0" name="ManufacturerGetResult" nillable="true" type="q9:BizManufacturer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManufacturerGetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ManufacturerGetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DeVes.Bazaar.Data.Biz" minOccurs="0" name="ManufacturerGetAllResult" nillable="true" type="q10:ArrayOfBizManufacturer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManufacturerCreate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DeVes.Bazaar.Data.Biz" minOccurs="0" name="manufacturer" nillable="true" type="q11:BizManufacturer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManufacturerCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ManufacturerCreateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManufacturerUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DeVes.Bazaar.Data.Biz" minOccurs="0" name="materialCategory" nillable="true" type="q12:BizManufacturer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManufacturerUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ManufacturerUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManufacturerRemove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="matlCatId" type="q13:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManufacturerRemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ManufacturerRemoveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupplierGet_ByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q14:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupplierGet_ByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DeVes.Bazaar.Data.Biz" minOccurs="0" name="SupplierGet_ByIDResult" nillable="true" type="q15:BizSupplierer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupplierGet_ByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="supplierName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupplierGet_ByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/DeVes.Bazaar.Data.Biz" minOccurs="0" name="SupplierGet_ByNameResult" nillable="true" type="q16:BizSupplierer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupplierGet_No">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="supplierNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupplierGet_NoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/DeVes.Bazaar.Data.Biz" minOccurs="0" name="SupplierGet_NoResult" nillable="true" type="q17:BizSupplierer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupplierGetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SupplierGetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/DeVes.Bazaar.Data.Biz" minOccurs="0" name="SupplierGetAllResult" nillable="true" type="q18:ArrayOfBizSupplierer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupplierCreate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/DeVes.Bazaar.Data.Biz" minOccurs="0" name="supplier" nillable="true" type="q19:BizSupplierer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupplierCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="SupplierCreateResult" nillable="true" type="q20:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupplierUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/DeVes.Bazaar.Data.Biz" minOccurs="0" name="supplier" nillable="true" type="q21:BizSupplierer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupplierUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SupplierUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupplierRemove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="supplierId" type="q22:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupplierRemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SupplierRemoveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSupplierToReturned">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="supplierId" nillable="true" type="q23:guid" />
        <xs:element minOccurs="0" name="isReturned" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSupplierToReturnedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetSupplierToReturnedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PositionCreate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/DeVes.Bazaar.Data.Biz" minOccurs="0" name="supplierPosition" nillable="true" type="q24:BizPosition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PositionCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PositionCreateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PositionUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/DeVes.Bazaar.Data.Biz" minOccurs="0" name="supplierPosition" nillable="true" type="q25:BizPosition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PositionUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PositionUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PositionRemove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="positionNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PositionRemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PositionRemoveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PositionSell">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/DeVes.Bazaar.Data.Biz" minOccurs="0" name="position" nillable="true" type="q26:ArrayOfBizPosition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PositionSellResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/DeVes.Bazaar.Data.DataObjekts" minOccurs="0" name="PositionSellResult" nillable="true" type="q27:PositionSellResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PositionReturn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="supplierId" type="q28:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PositionReturnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/DeVes.Bazaar.Data.DataObjekts" minOccurs="0" name="PositionReturnResult" nillable="true" type="q29:PositionReturnedResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSoldPositions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="supplierId" type="q30:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSoldPositionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/DeVes.Bazaar.Data.Biz" minOccurs="0" name="GetSoldPositionsResult" nillable="true" type="q31:ArrayOfBizPosition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSoldNotReturnedPositions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="supplierId" type="q32:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSoldNotReturnedPositionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/DeVes.Bazaar.Data.Biz" minOccurs="0" name="GetSoldNotReturnedPositionsResult" nillable="true" type="q33:ArrayOfBizPosition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotSoldNotReturnedPositions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="supplierId" type="q34:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotSoldNotReturnedPositionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/DeVes.Bazaar.Data.Biz" minOccurs="0" name="GetNotSoldNotReturnedPositionsResult" nillable="true" type="q35:ArrayOfBizPosition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPositionsAsReturned">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/DeVes.Bazaar.Data.Biz" minOccurs="0" name="positions" nillable="true" type="q36:ArrayOfBizPosition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPositionsAsReturnedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PositionGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="positionNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PositionGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/DeVes.Bazaar.Data.Biz" minOccurs="0" name="PositionGetResult" nillable="true" type="q37:BizPosition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PositionGetAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="supplierId" type="q38:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PositionGetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/DeVes.Bazaar.Data.Biz" minOccurs="0" name="PositionGetAllResult" nillable="true" type="q39:ArrayOfBizPosition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllSupplierAndPositions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllSupplierAndPositionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/DeVes.Bazaar.Data.DataObjekts" minOccurs="0" name="AllSupplierAndPositionsResult" nillable="true" type="q40:ArrayOfAllPositionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>